/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Tailwind v4 */
@import 'tailwindcss';
@source "./**/*.{js,ts,jsx,tsx,mdx}";

@config "../tailwind.config.ts";

